[submodule "dual-image-inspector"]
	path = dual-image-inspector
	url = https://github.com/gokdenizozkan/dual-image-inspector.git
[submodule "image-annotator"]
	path = image-annotator
	url = git@github.com:gokdenizozkan/image-annotator.git
[submodule "kpm2csv"]
	path = kpm2csv
	url = git@github.com:gokdenizozkan/kpm2csv.git
[submodule "text-to-json"]
	path = text-to-json
	url = git@github.com:gokdenizozkan/text-to-json.git
